.header {
  background-color: rgb(255, 255, 255);
  padding-right: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
  margin: 0 16px;
}

.breakdcrum {
  margin: 8px 16px;
}

.actionContainer {
  position: relative;
  height: 32px;
  width: auto;
}

.buttonCreate {
  position: absolute;
  right: 0;
  margin: 0 8px;
}

.card {
  width: initial;
  height: fit-content;
  border-width: 2px;
}

.title {
  display: flex;
  justify-content: start;
  align-items: center;
}

.loginForm {
  position: absolute;
  top: 20%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(220, 220, 220);
  max-width: 400px;
  height: auto;
  padding: 48px;
  margin: 0 auto;
}

.loginGoogle {
  font-size: 16px;
  width: 250px;
  height: auto;
}

.loginGithub {
  font-size: 16px;
  width: 250px;
  height: auto;
}
